.background {
  background-color: black;
}

.h1 {
  font-size: 65px;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px white;
}

.div0 {
  display: flex;
  height: 100vh;
  align-items: center;
}

.div1 {
  width: 300px;
  height: 200px;
  background-color: blue;
  text-align: center;
}
